[submodule "src/vendor/ssltest-stls"]
	path = src/vendor/ssltest-stls
	url = https://github.com/decal/ssltest-stls.git
[submodule "src/vendor/python-whois"]
	path = src/vendor/python-whois
	url = https://github.com/joepie91/python-whois.git
